<div id="title" class="slide header">
  <h1 class="banner">Hello, World!</h1>
  <h3 class="no-shadow"></h3>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>What's this?</h1>
    <p>My name is Ben Pritchard. For the past couple of years I've been developing my web development skills through classes at Portland Community College as well as through a web development bootcamp called Epicodus. This website is an example of CSS Parallax styling.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>A little background about me:</h1>
    <p>
      I chose my job out of college as a corporate tax accountant for the financial security of it. I learned a valuable lesson in that endeavor: Don't do that again! Since then, I've served as a volunteer in AmeriCorps, taught English in South America, and volunteered as a micro finance intern in Costa Rica.
    </p>
    <p>
      After returning home to Portland, I've been exploring web development as a way to utilize the technical side of my mind to build something useful for organizations that I feel a personal connection with.
    </p>
  </div>
  <img src="css/img/americorps.jpg" class="floaty">
  <img src="css/img/escuela.jpg" class="floaty">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Recent Work:</h1>
    <ul>
      <li>
        <p><a href="https://sheltered-eyrie-5331.herokuapp.com/">Database management system</a> built with Ruby on Rails and JavaScript using a MySQL database hosted on Heroku.</p>
      </li>
      <li>
        <p>More hosted sites to come soon. In the meantime, check out my
        <a href="https://github.com/ben-pritchard">GitHub</a>.</p>
      </li>
    </ul>
  </div>
</div>

<div class="slide header" id="slide4">
  <h1 class="slide4">Thanks for stopping by!</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="glued">
        <img src="css/img/ben.jpg" class="glued">
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <br>
      <p class="slide4">
        Want to get in contact?
      </p>
      <p class="slide4 info">
        email: ben.s.pritchard@gmail.com
      </p>
      <p class="slide4 info">
        or checkout my <a href="https://www.linkedin.com/in/benjaminpritchard">LinkedIn</a> or <a href="https://github.com/ben-pritchard">GitHub</a>
      </p>
    </div>
  </div>
  <div class="row">
    <p class="slide4 info foot">
      Credit for parallax styling due to: http://codepen.io/keithclark/pen/JycFw
    </p>
  </div>
</div>
