<div id="title" class="slide header">
  <h1 class="banner">Hello, World!</h1>
  <h3 class="no-shadow">My name is Ben Pritchard and I'm currently having fun exploring the world of web development.</h3>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>What's this?</h1>
    <p>This is my first webpage! I'm experimenting a bit but mainly have this up because I'm a web developer and you kind of have to have one :)</p>
    <p>
      My mission in this web development venture is to learn as much as I can and then give back by working for a cause I believe in.
    </p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Education</h1>
    <h3>Epicodus</h3>
    <p>I recently graduated from a web development "bootcamp" called Epicodus and loved it! It laid a great groundwork for me to launch from where I got repeated practice with projects using Ruby, Javascript, AngularJS, EmberJS, HTML, CSS, Git, and Ruby on Rails. Whew, did you catch all that? Me neither. </p>
    <h3>Everything else:</h3>
    <p>
      Graduated with honors from the University of Oregon, took some natural science and computer science classes at Portland Community College, then did Epicodus above.
    </p>
  </div>
  <img src="css/img/sky.jpg">
  <img src="css/img/autumn_day.jpg">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>A project or two:</h1>
    <p>Here are a couple links to projects that I am proud of.</p>
  </div>
</div>

<div id="slide4" class="slide header">
    <h1>Thanks for stopping by!</h1>
    <p>
      Want to get in contact?
    </p>
    <p>
      email: ben.s.pritchard@gmail.com
    </p>
    <p>
      Ok no, I can't take credit for this. I got this beautiful layout from: http://codepen.io/keithclark/pen/JycFw. Thank you Keith!
    </p>
</div>


<!-- <div class="scrolls container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et tortor sit amet urna elementum tincidunt. Phasellus id neque ante. Nulla elementum gravida lacinia. Maecenas mi urna, sollicitudin ut metus a, ornare molestie elit. Aenean pretium gravida tellus, in interdum eros elementum sed. Duis imperdiet luctus tellus, ut bibendum sem porta a. Etiam convallis elementum ex, at rhoncus lorem pulvinar vitae.

Duis ut lectus ultrices, fringilla enim eu, elementum arcu. Morbi viverra dignissim luctus. Nullam nec sapien ut enim lacinia porta. Fusce interdum vehicula pulvinar. Mauris aliquet urna sed augue blandit tristique quis eget urna. Morbi finibus, mi sed feugiat lobortis, diam magna sodales nunc, ut tincidunt orci diam at lectus. Mauris ac est et lorem auctor faucibus. Curabitur dapibus elit ac porta aliquet.

Nulla posuere orci in tincidunt dictum. Quisque ultricies fringilla dui sed ullamcorper. Suspendisse potenti. Nam auctor elit vitae sollicitudin euismod. In tristique blandit mollis. Proin orci quam, venenatis nec vestibulum eget, vehicula ut purus. Duis vulputate tincidunt ipsum et pulvinar. Pellentesque id dolor cursus, venenatis metus sed, scelerisque lorem. Donec bibendum augue vitae ultrices auctor. Morbi ultrices ultrices odio, ut dictum dui mattis eget. Sed et nisi lacus. Aenean mauris massa, lacinia non lacus mollis, scelerisque tempus arcu. Donec consequat euismod odio vehicula commodo. Vestibulum a tincidunt massa. Vivamus sollicitudin eleifend odio, ac facilisis mi sagittis fringilla.

Quisque vel sollicitudin diam, a tristique tellus. Phasellus suscipit, augue in condimentum consectetur, est tellus scelerisque arcu, et faucibus metus est eget justo. Vestibulum rutrum a turpis vitae ornare. Phasellus a tempor nisl. Praesent dictum dapibus accumsan. Etiam interdum diam vel nisl blandit, vel feugiat tellus feugiat. Curabitur nec vulputate tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin et imperdiet erat. Donec tincidunt tellus nec justo volutpat maximus. Cras eu erat lobortis, ullamcorper erat eget, semper dui. Proin justo urna, consequat nec euismod id, aliquet id risus. In rhoncus a nulla eu egestas. Morbi vestibulum, odio at feugiat gravida, magna justo mollis odio, at mollis ex nisi sit amet nisl. Sed eu risus dolor. Praesent metus ligula, egestas in purus lacinia, porta dictum mauris.

Nam congue dignissim libero ut viverra. Donec hendrerit interdum nulla in fringilla. Proin dapibus, dui a ornare condimentum, arcu nisi pretium ex, eu dapibus lorem dolor id lorem. Maecenas purus metus, finibus vel justo a, auctor tincidunt eros. Fusce vulputate ligula ut lacus faucibus, eget pellentesque arcu pulvinar. Pellentesque sit amet ornare orci, quis suscipit sapien. Suspendisse nec quam quis sem sodales iaculis non et magna. Donec iaculis lorem purus. Nullam lacinia congue diam eget consectetur. Duis dapibus urna sed erat auctor venenatis. Fusce eu malesuada odio. Phasellus nec pharetra elit, quis tristique orci. Donec risus quam, accumsan at volutpat quis, dignissim sit amet tortor. Fusce tristique ipsum quam, imperdiet suscipit tellus ornare ut. Nullam sit amet vehicula eros, at ultrices nunc.

Curabitur ullamcorper dictum mauris sit amet scelerisque. Suspendisse vel eleifend quam. Sed pretium finibus lorem auctor faucibus. Aenean molestie sollicitudin tristique. Phasellus in fringilla ligula. Duis rhoncus, nisl in ultrices malesuada, ligula lorem sagittis erat, in consequat leo leo non ex. Integer ut convallis dolor, in sollicitudin massa. Cras lobortis et orci a sodales. Curabitur vel ante justo. Fusce vestibulum, mauris non viverra suscipit, ante arcu congue mauris, id commodo nulla erat sed lacus. Donec in porta leo. Donec quis magna faucibus, lobortis ligula a, feugiat mi. Cras suscipit quis enim in rhoncus. Praesent placerat, risus vel dapibus ornare, nisl tellus scelerisque nulla, rhoncus efficitur purus mi sit amet est. Quisque at velit eget tortor molestie congue sit amet ut magna. Duis mollis sapien eget ipsum pulvinar, ac mattis lacus ultricies.

Ut dui orci, egestas dapibus dolor in, pretium laoreet elit. Ut id efficitur massa. Quisque convallis finibus nisl, ac porta mauris molestie sed. Etiam feugiat, odio et vehicula scelerisque, sapien tortor pulvinar est, vitae vestibulum ex dui eu quam. Fusce vulputate consectetur magna vitae feugiat. Duis quis gravida nulla. Sed sed laoreet sapien. Nunc elementum nunc et arcu suscipit finibus. Curabitur ultrices aliquam libero, vel tristique nunc pharetra sagittis. Suspendisse eget aliquam nibh. Aenean enim orci, iaculis eu dui bibendum, aliquet cursus dui. Aenean dictum orci ac libero viverra egestas. Cras non fringilla lectus. Morbi est turpis, placerat quis consectetur ac, lobortis ut mi. Suspendisse luctus dui at consequat egestas.

Etiam id turpis interdum magna bibendum vehicula id vel nibh. Etiam viverra, ligula id consectetur vestibulum, urna tellus varius est, eu accumsan eros ante accumsan nisi. Pellentesque quis facilisis metus, et faucibus sapien. Fusce hendrerit efficitur velit, eu posuere enim varius vitae. In et imperdiet odio, ut luctus nulla. Nullam id ex sapien. Ut sit amet semper odio. Donec varius augue ipsum, sit amet blandit lectus iaculis et. Nunc vitae blandit mauris. Donec eu imperdiet quam. Morbi ut porttitor neque. Donec ut varius neque, vitae aliquet augue. Donec a purus a dolor tristique aliquam et in orci.

Cras non molestie enim. Morbi congue augue nec metus eleifend aliquam. Fusce in facilisis ligula. Sed ut magna eget nulla luctus fermentum at a augue. Integer justo erat, molestie eget arcu ut, pretium pharetra enim. Etiam tincidunt nibh id metus blandit dignissim. Proin vitae ipsum vel risus suscipit venenatis. Fusce et convallis dolor. Nunc sed porttitor justo. Vestibulum ligula nibh, egestas vitae interdum ut, iaculis a neque.

Proin finibus mollis erat a fermentum. Suspendisse ut ante id neque tempor imperdiet ut eu nisl. Donec consequat ante turpis, vel blandit sapien posuere sit amet. Nam mattis hendrerit tellus in auctor. Quisque tincidunt erat sed malesuada varius. Nam maximus est rhoncus tempus tristique. Aenean posuere laoreet ultricies. Quisque venenatis metus sit amet eros fringilla, eget sagittis leo dictum. Donec eu massa auctor, posuere eros et, tristique felis. Suspendisse fringilla eros id diam pharetra, id aliquam magna iaculis. Integer ac imperdiet mauris. Mauris sit amet imperdiet est, non semper libero. Nunc velit arcu, sagittis quis nulla a, faucibus accumsan libero. Nunc suscipit a mauris at volutpat. Morbi sem diam, varius et porta sed, scelerisque non ipsum.

Ut sit amet leo turpis. Sed faucibus augue lectus, non pulvinar purus laoreet congue. Fusce auctor diam eu sapien porta, sit amet lobortis dui sodales. In in nunc ex. Mauris et erat faucibus, molestie sem eu, venenatis neque. Vestibulum tincidunt mauris ut massa vulputate aliquet. Morbi sagittis purus eu sapien consequat, id sodales justo placerat. Phasellus ac lectus sollicitudin, pretium eros ac, feugiat ante. Aenean non placerat velit, vitae faucibus lacus. Ut a erat vitae justo suscipit ornare sed at lorem. Nunc vel libero nulla. Nulla eget pulvinar quam. Integer placerat ultrices volutpat. Donec volutpat finibus porta. In hac habitasse platea dictumst.

Nullam pretium orci dui, sit amet maximus est convallis ac. Cras ut volutpat est. Praesent vitae sodales augue. Nunc eu fermentum augue, sed faucibus mi. Phasellus orci turpis, pellentesque sed diam eget, imperdiet posuere enim. Sed vehicula, urna eget euismod tempor, elit velit interdum mauris, vitae venenatis dui odio non nibh. Duis lacus magna, fermentum at sem sit amet, lacinia sagittis quam. Aliquam molestie lectus nec justo commodo porta. Integer euismod vel leo at fringilla. Curabitur eu odio dapibus nibh egestas aliquam in mollis sapien. Ut sit amet suscipit velit. Phasellus fringilla molestie posuere. Maecenas eros eros, varius ut sodales hendrerit, convallis non ligula. In maximus, ante in ornare congue, lectus metus molestie massa, vitae hendrerit ipsum felis interdum ipsum. Aliquam placerat tellus velit, ut aliquam urna cursus eu.

Aliquam eu leo finibus, ullamcorper massa a, ultrices odio. Proin commodo rutrum sapien eu rhoncus. Aliquam et magna nec odio scelerisque porttitor. Donec finibus ac ipsum at porta. Mauris non turpis orci. Nunc nisi nunc, ultricies nec laoreet a, tempor id velit. Aliquam et vestibulum ligula. Etiam vitae urna id lorem vulputate luctus eu euismod turpis.

Sed sed mauris vel ipsum facilisis volutpat id eget nisl. In hac habitasse platea dictumst. Phasellus consectetur massa orci, non placerat elit sollicitudin ut. Quisque nisi purus, dignissim vitae nisi vitae, facilisis condimentum nibh. Nam sed lectus mollis, dictum sem at, ornare nunc. Vivamus et sapien non nulla vestibulum molestie. Integer tristique velit faucibus, lacinia nulla malesuada, ultrices nisl. Donec malesuada pharetra mauris ac posuere. Aenean tincidunt lacus at arcu tempor mattis. Praesent in purus varius, gravida augue ac, ultrices tellus. Cras et elit eget lectus cursus faucibus. Donec dictum lorem neque, a ornare eros feugiat a. Proin ut mauris sit amet purus fringilla bibendum. Maecenas vel ligula sagittis sapien pharetra consectetur. Praesent fringilla dolor id fringilla aliquam.

Fusce vel risus nec ante faucibus tristique. Ut lobortis fringilla lorem sed interdum. Vestibulum fermentum, urna pretium vestibulum hendrerit, justo mi mollis tellus, nec vestibulum odio turpis vitae quam. Sed quam felis, pellentesque nec malesuada quis, commodo vel dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu molestie lorem. Suspendisse potenti. Ut massa libero, suscipit eget diam ullamcorper, ultricies tempus ante. Phasellus tristique, urna blandit scelerisque porta, nunc nunc dignissim felis, vel posuere dolor tellus quis nisi.

Nunc fermentum neque quis ligula tempus facilisis mattis sit amet neque. Nullam in magna eu lectus ullamcorper facilisis. Nullam volutpat vehicula nunc sed sagittis. Suspendisse lacus ex, posuere tempus nisl ut, porta egestas nulla. Nullam efficitur justo ut erat fermentum semper. Donec egestas massa magna, vel feugiat leo feugiat vel. Curabitur iaculis nec diam in porttitor. Nulla sollicitudin quis augue sit amet maximus. Praesent tempus, dui pulvinar vestibulum molestie, odio magna dictum leo, in placerat nunc orci in augue. Curabitur sollicitudin leo sapien, id imperdiet tellus hendrerit nec.

Nulla facilisi. Quisque quis urna efficitur, gravida mauris vitae, suscipit ligula. Sed tincidunt tincidunt nulla. Mauris congue eu lectus ut tincidunt. Sed tincidunt ligula vitae lorem aliquet, ac rutrum arcu auctor. Cras nec nulla nulla. Donec porttitor eu ipsum vel rutrum. Nullam euismod quam dolor, non mollis mi feugiat at. Mauris porttitor convallis nunc nec ullamcorper. Pellentesque eu sodales ligula. Etiam risus sapien, posuere ut pulvinar in, dignissim sit amet mauris. Nullam consectetur lacinia urna a tempus.

In diam quam, gravida at feugiat non, varius consectetur mauris. Mauris tincidunt, neque et elementum porta, arcu dolor pulvinar arcu, sit amet auctor turpis dui sed sem. Aliquam erat volutpat. Nullam eu odio enim. Ut sem elit, accumsan id pretium at, condimentum ac sem. Suspendisse potenti. Fusce sed venenatis diam. In ac efficitur mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dui mauris, finibus et iaculis nec, placerat vitae arcu. Donec quis turpis congue, placerat ex ut, consectetur enim. In hac habitasse platea dictumst. Quisque feugiat eros sed consequat rhoncus. Nulla at pretium nunc. Morbi justo metus, consequat eget nulla vel, hendrerit finibus lacus. Sed imperdiet orci in felis accumsan auctor.

Morbi tristique id eros id dignissim. Donec vitae consectetur lacus, in pulvinar dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur lobortis leo nec egestas laoreet. Pellentesque id tellus consequat, lacinia odio ac, tempus erat. Etiam varius elit id eros pellentesque, lacinia consequat neque hendrerit. In feugiat mauris nec gravida finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vulputate leo quis finibus posuere.

Donec ultricies metus et consequat porttitor. Donec maximus sodales orci. Quisque venenatis gravida imperdiet. Mauris mi arcu, tempor eu nulla at, venenatis fringilla enim. Pellentesque ullamcorper faucibus odio. Duis eu orci sit amet ex convallis faucibus. Curabitur laoreet dictum sem. Aliquam diam urna, molestie in magna aliquam, lobortis pretium dolor. Curabitur felis velit, consectetur ut bibendum eget, aliquam at metus. Nunc eget nibh eget eros laoreet laoreet. Vivamus at malesuada ex. Suspendisse aliquet eu orci in congue. Ut et urna dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce gravida, odio eu ultricies iaculis, metus lectus fermentum arcu, quis finibus dui libero vel mauris.


  </p>
</div> -->
