<div id="title" class="slide header">
  <h1 class="banner">Hello, World!</h1>
  <h3 class="no-shadow">My name is Ben Pritchard and I'm currently having fun exploring the world of web development.</h3>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>What's this?</h1>
    <p>This is my first webpage! I'm experimenting a bit but mainly have this up because I'm a web developer and you kind of have to have one :)</p>
    <p>
      My mission in this web development venture is to learn as much as I can and then give back by working for a cause I believe in.
    </p>
  </div>
</div>





<div id="slide2" class="slide">
  <div class="title">
    <h1>A little background:</h1>
    <p>I started life after college as a corporate tax accountant. While I didn't hate it, I wanted to do some more exploring of the world and of myself, as well as work somewhere I could get my heart into my work. So I did a year of AmeriCorps along the East Coast doing service projects and then traveled around in South America teaching English among other things for a year. All this exploration has led me to where I am today, pursuing a life where I can put my technical mind to work for causes that my heart feels good about.</p>
  </div>
  <img src="css/img/americorps.jpg" class="floaty">
  <img src="css/img/escuela.jpg" class="floaty">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>A project or two:</h1>
    <p>Coming soon - A couple projects I've worked on. Or check out my github.</p>
  </div>
</div>

<div class="slide header" id="slide4">
    <h1 class="slide4">Thanks for stopping by!</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="glued">
          <img src="css/img/Ben.jpg" class="glued">
        </div>
      </div>
      <div class="col-md-4">
        <p class="slide4 right">
          Want to get in contact?
        </p>
        <p class="slide4 right">
          email: ben.s.pritchard@gmail.com
        </p>
        <p class="slide4 right">
          Ok ok, no I can't take credit for this website's beautiful layout. It is from: http://codepen.io/keithclark/pen/JycFw. Thank you Keith!
        </p>
      </div>
    </div>



</div>
